/* Everything in the Centre Panel */
.fullScreen{
/* Position */
position: fixed;
top:1vh; 
min-height: 10vh; 
max-height: 89.5vh;
left: 0.2vw; 
width: 63.5vw;
height: auto;
z-index:11;

/* Text 'CenturyGothic',*/  
font-family: monospace;
color: whitesmoke;
font-size: 1.9vh;
line-height: 1.5; 
text-align: left;

/* Appearance */
background-color: black;
opacity: 0.85;
display: none;
padding: 1vh; 
overflow: auto;
scrollbar-color: black;
flex-direction: column;
outline: 0.4vh solid teal;

}

.Centre {

/* Position */
position: fixed;
top:1vh; 
min-height: 10vh; 
max-height: 89.5vh;
right: 35.1vw; 
width: 32vw;
height: auto;
z-index:10;

/* Text */  
font-family: monospace;
color: whitesmoke;
font-size: 1.9vh;
line-height: 1.5; 
text-align: left;

/* Appearance */
background-color: black;
opacity: 0.85;
display: none;
padding: 1vh; 
overflow: auto;
scrollbar-color: black;
flex-direction: column;
outline: 0.4vh solid teal;
} 

.Centre hr {
border: none;
width: 32.5vw;
height: 0.05vh; /* Adjust the height of the line */
background-color: teal; /* Color of the line */
box-shadow: 0 0 0 0.1vh teal; /* Creates a solid outline effect */
margin-top: 1;
}

.fullScreen hr {
border: none;
width: 63.5vw;
height: 0.05vh; /* Adjust the height of the line */
background-color: teal; /* Color of the line */
box-shadow: 0 0 0 0.1vh teal; /* Creates a solid outline effect */
margin-top: 1;
}

.form {
display: block;    
border-radius: 0;
background-color: black;
overflow: auto;
overflow-x: hidden;
max-height: 83vh; /* Adjust the value as needed */
}

#form::-webkit-scrollbar {
width: 0.1px; /* Set the width of the scrollbar */
}

.centreId{
/* Position */
position: relative;
height: 2vh;
width: 3vw;
margin: 0vh;


/* Text */
font-size: 2vh;
color: lime;
font-family: monospace;
font-weight: bold;
text-align: left; 

/* Appearance */
border: none;
padding: 0.1vh;
background-color: transparent;
vertical-align: middle;
resize: none;
border-radius: 0;
}

.centreName{
/* Position */
height: 4vh;
width: 28vw;
margin: 0vh;

/* Text */
font-size: 3vh;
font-family: 'SoutaneBlack';
font-weight: bold;

/* Appearance */
border: none;
padding: 0.1vh;
background-color: transparent;
vertical-align: middle;
resize: none;
border-radius: 0;
}

.centreName:focus{
/* Appearance */
background-color: transparent;
border-color: hotpink;
color: lime;
outline: none;
border-radius: 0;
}

.centreType{
/* Position */
height: 2.5vh;
width: 15vw;
margin: 0vh;

/* Text */
font-size: 2.2vh;
color: rgb(11, 201, 201);
font-family: monospace;
font-weight: bold;

/* Appearance */
border: none;
padding: 0vh;
background-color: transparent;
vertical-align: middle;
resize: none;
border-radius: 0;
}

.centreType:focus{
/* Appearance */
background-color: transparent;
border-color: hotpink;
color: lime;
outline: none;
border-radius: 0;
}

.centreSubType{

/* Position */
height: 2.5vh;
width: 15vw;
margin: 0vh;

/* Text */
font-size: 2.2vh;
color: rgb(11, 201, 201);
font-family: monospace;
font-weight: bold;
text-align: right;

/* Appearance */
border: none;
padding: 0vh;
background-color: transparent;
vertical-align: top;
resize: none;
border-radius: 0;
}

.centreSubType:focus{
/* Appearance */
background-color: transparent;
color: lime;
outline: none;
border-radius: 0;
}

.input-container {
display: flex; 
align-items: flex-start;
margin-bottom: 2.2vh; 
}

.centreLabel{

/* Position */
min-height: 2vh;
width: 17vh;
margin: 0vh;

/* Text */
font-size: 2.2vh;
color: hotpink;
font-family: monospace;
font-weight: bold;
text-align: left;
line-height: 1.5;

/* Appearance */
border: none;
padding: 0vh;
background-color: transparent;
resize: none;
border-radius: 0;
}

.centreLabel:focus{
/* Appearance */
background-color: transparent;
border-color: hotpink;
color: lime;
outline: none;
border-radius: 0;
}

.centreTag{
/* Position */
min-height: 2vh;
width: 30vw;
margin: 0vh;

/* Text */
font-size: 2.2vh;
color: whitesmoke;
font-family: monospace;
font-weight: bold;
text-align: left;
line-height: 1.5;

/* Appearance */
border: none;
padding: 0vh;
background-color: transparent;
resize: none;
border-radius: 0;
}

.fullScreenText {
/* Position */
width: 63vw;
margin: 0vh;
max-height: 96vh;

/* Text */
font-size: 1.9vh;
color: whitesmoke;
font-family: monospace;
line-height: 1.5;

/* Appearance */
border: none;
background-color: transparent;
vertical-align: middle;
resize: none;
border-radius: 0;
overflow-y: scroll;
}


.centreText {
/* Position */
width: 32vw;
margin: 0vh;
max-height: 96vh;

/* Text */
font-size: 1.9vh;
color: whitesmoke;
font-family: monospace;
line-height: 1.5;

/* Appearance */
border: none;
background-color: transparent;
vertical-align: middle;
resize: none;
border-radius: 0;
overflow-y: scroll;
}

.centreNumber {

/* Position */
min-height: 2vh;
width: 3vw;
margin: 0vh;

/* Text */
font-size: 2.2vh;
font-family: monospace;
line-height: 1.5;
text-align: left;
font-weight: bold;

/* Appearance */
border: none;
background-color: transparent;
vertical-align: middle;
resize: none;
border-radius: 0;
margin-bottom: 0;
margin-top: 0;
}

.centreStat {

/* Position */
min-height: 2vh;
width: 3vw;
margin: 1vh;

/* Text */
font-size: 3vh;
font-family: monospace;
line-height: 1.5;
text-align: center;
font-weight: bold;

/* Appearance */
border: none;
background-color: transparent;
vertical-align: middle;
resize: none;
border-radius: 0;
margin-bottom: 0;
margin-top: 0;
}

.centreText:focus,
.centreStat:focus,
.centreTag:focus,
.centreNumber:focus,
.fullScreenText:focus{
/* Appearance */
background-color: transparent;
border-color: hotpink;
color: lime;
outline: none;
border-radius: 0;
}

.centreStat::selection,
.centreNumber::selection,
.centreTag::selection{
background-color: transparent;
}






