.EditorContainer {
position: fixed;
top: 7vh;    
right: 0vw; 
width: 30vw;   
height: 85vh;     
font-size: 2vh;
display: none;
flex-direction: column;
}  

.AmbienceContainer{
position: fixed;
color: whitesmoke;
top: 7vh;   
padding: 0px;
width: 30vw; 
right: 0vw;                
height: 160vh;     
font-size: 1.9vh;
display: none;
flex-direction: column;
}

.AmbienceContainer select {
padding: 0px;
font-size: 2vh;
border: 1px solid #ccc;
border-radius: 4px;
background-color: peachpuff;
width: 15vw;
font-family: monospace, 'Trebuchet MS', sans-serif;
}

.SettingsContainer{
position: fixed;
color: whitesmoke;
top: 7vh;   
width: 30vw; 
right: 0vw;                
height: 160vh;     
font-size: 1.9vh;
display: none;
flex-direction: column;
}


.SettingsContainer select {
padding: 8px;
font-size: 2vh;
border: 1px solid #ccc;
border-radius: 4px;
background-color: peachpuff;
width: 15vw;
font-family: monospace, 'Trebuchet MS', sans-serif;
}

#eventForm { 
border-radius: 0;
background-color: transparent;
overflow: auto;
overflow-x: hidden;
}

#eventForm::-webkit-scrollbar {
width: 0.1px; /* Set the width of the scrollbar */
}

.AmbienceContainer{
width: 30vw;
height: 85vh;
};



