.EditorContainer {
    position: fixed;
    top: 7vh;    
    right: 0vw; 
    width: 30vw;   
    height: 160vh;     
    font-size: 2vh;
    display: none;
    flex-direction: column;
}    

.editLocationName{
    height: 4vh;
    width: 27.5vw;
    margin: 0vh; 
    font-size: 3vh;
    font-weight: bold;
    border: 0.4vh solid black; 
    text-align: left;
    vertical-align: middle;    
    background-color: transparent; 
    color: hotpink;
    padding: 1vh;
    display: none;
    flex-direction: row;
}

    .editLocationName:focus {
        border-color: lime; /* Change the border color */
        outline: none; /* Remove the default outline */
        background-color: black; /* Change the background color */
        color: lime; /* Change the text color */
        border-radius: 0px; /* Adjust the border radius for rounded corners */
    }

    .EditorContainer label {
    position: relative;
    left: 0.5vw;
    font-weight: bold;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;        
    color: white;   
}

#optionsList {
    color: lime;
    background-color: black;
    opacity: 0.7;
    height: 100vh;
    border: transparent;
    padding: 5px;
    position: fixed; /* Use fixed position for screen coordinates */
    top: 0;
    left: 0;
    z-index: 10; /* Adjust z-index as needed */
    overflow-y: auto;
    display: none;
    scrollbar-color: black;
  }

  #optionsList div:hover {
    background-color: hotpink; /* Change the background color on hover */
    color: black;
    cursor: pointer; /* Show pointer cursor on hover */
  }  

  #optionsList::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
    }
  

.editBox {            
    height: 65vh;
    margin: 1vh; 
    font-size: 2vh;
    border: 0.4vh solid hotpink; 
    text-align: left;
    vertical-align: top;    
    background-color: transparent; 
    color: orange;
    padding: 1vh;

}
    .editBox:focus {
        border-color: lime; /* Change the border color */
        outline: none; /* Remove the default outline */
        background-color: transparent; /* Change the background color */
        color: lime; /* Change the text color */
        border-radius: 0px; /* Adjust the border radius for rounded corners */
    }





/* Target the entire form */
#tableForm {
display: flex;
flex-direction: column; /* Arrange elements in a column */
align-items: flex-start; /* Align elements to the start of the column */
gap: 0px; /* Add spacing between elements */
}

.topTable {
display: flex;
flex-direction: row; /* Arrange elements in a column */
align-items: flex-start; /* Align elements to the start of the column */
gap: 5px; /* Add spacing between elements */
margin: 2vh 0vw;
}


/* Target the labels within the form */
#tableForm label {
left: 0vw;
color: hotpink;
}

/* Target the input elements within the form */
.topTable input {
height: 6vh;
width: 6vh;
font-size: 5vh;
text-align: center;
background-color: black;
border-color: hotpink;
color: cyan;
}

.topTable input[type="number"]::-webkit-inner-spin-button,
.topTable input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Target the button within the form */
#tableForm button {
width: 13vw; /* Make each button fill the width of the toolbar */
height: 6vh; 
font-size: 2vh; 
padding: 1vh 1vw; 
margin: 0vh 0vw; /* Add margin to control spacing */
border: 0.1vh solid black; 
transition: background-color 0.3s; 
font-family: monospace, 'Trebuchet MS', sans-serif;
}

#tableForm button:hover {
background-color: hotpink; 
}

.bottomTable{
border-collapse: collapse;
width: 30vw;
height: 75vh;
font-size: 2vh; 
overflow-y: scroll;
scrollbar-color: black;
}

.bottomTable::-webkit-scrollbar {
width: 5px; /* Set the width of the scrollbar */
}

/* Target the input elements within the form */
.bottomTable input {
height: 3vh;
width: 6vh;
font-size: 2vh;
text-align: center;
background-color: transparent;
color: whitesmoke;    
font-family: monospace, 'Trebuchet MS', sans-serif;
}

    .spreadsheet td {
    border: 0.1px solid whitesmoke;
    color:whitesmoke;
    width: 28vw;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
    }

    .spreadsheet tr:nth-child(even) {
    background-color: black;
    }

    .spreadsheet tr:hover {
    background-color: lime;
    color: whitesmoke;
    }

    /* Add styling to input fields for editing */
    .spreadsheet td input {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    }

    /* Add styling for the editing state */
    .spreadsheet td.editing {
    background-color: lime;
    }


    .AmbienceContainer{
        position: fixed;
        color: whitesmoke;
        top: 7vh;   
        width: 30vw; 
        right: 0vw;                
        height: 160vh;     
        font-size: 2vh;
        display: none;
        flex-direction: column;
    }

    .AmbienceContainer label{
        color: hotpink;
        font-size: 2.5vh;
        left: 0;
    }

    .AmbienceContainer select {
        padding: 8px;
        font-size: 2vh;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: peachpuff;
        width: 15vw;
        font-family: monospace, 'Trebuchet MS', sans-serif;
    }

   