.eventManagerContainer {
position: fixed;
top: 7vh;    
right: 0vw; 
width: 30vw;   
height: 15vh;     
font-size: 2vh;
}

label{
color: whitesmoke;
}

.eventToolbarContainer{

padding: 0.2vh

}

.buttonSmall {
width: 5vw;
height: 3vh; 
font-size: 2vh; 
padding: 0vh 0vw; 
margin: 0.1vh 0; /* Add margin to control spacing */
border: 0.1vh solid black; 
font-family: monospace, 'Trebuchet MS', sans-serif;
transition: background-color 0.3s; 
}

.buttonLarge{
    width: 8vw;
    height: 3vh; 
    font-size: 2vh; 
    padding: 0vh 0vw; 
    margin: 0.1vh 0; /* Add margin to control spacing */
    border: 0.1vh solid black; 
    font-family: monospace, 'Trebuchet MS', sans-serif;
    transition: background-color 0.3s; 
    }

input[type="checkbox"] {
transform: scale(3); /* You can adjust the scale factor to make them larger or smaller */

}


.event-checkbox-container {
text-align: left;
padding: 1vw;
}




        
  