/* Everything to do with the left panel */

.Left {

/* Position */
position: fixed;
top:1vh;  
right: 70vw; 
width: 27vw;
height: 96vh;
z-index:10;

/* Text */  
font-family: monospace, 'Trebuchet MS', sans-serif;
color: whitesmoke;
font-size: 1.9vh;
line-height: 1.5; 
text-align: left;

/* Appearance */
background-color: black;
opacity: 0.85;
display: none;
padding: 1vh; 
overflow: auto;
scrollbar-color: black;
flex-direction: column;
outline: 0.2vh solid rgb(195, 201, 11);
} 

#Left::-webkit-scrollbar {
width: 5px; /* Set the width of the scrollbar */
}


#Left div:not(.no-hover):hover {
background-color: rgba(245, 245, 245, 0.474);
cursor: pointer;
}

.leftText {

/* Position */
min-height: 2vh;
width: 27vw;
margin: 0vh;
height: 77vh;

/* Text */
font-size: 2vh;
color: whitesmoke;
font-family: monospace, 'Trebuchet MS', sans-serif;
line-height: 1.5;

/* Appearance */
border: none;
background-color: black;
vertical-align: middle;
resize: none;
border-radius: 0;
}

.leftText:focus{
/* Appearance */
background-color: black;
border-color: hotpink;
color: lime;
outline: none;
border-radius: 0;
}

