/* Everything to do with the left panel */

.Left {

/* Position */
position: fixed;
top:1vh;  
left: 0.2vw; 
width: 30vw;
height: auto;
max-height: 89.5vh;
z-index:10;

/* Text */  
font-family: monospace;
color: whitesmoke;
font-size: 1.9vh;
line-height: 1.5; 
text-align: left;

/* Appearance */
background-color: black;
opacity: 0.85;
display: none;
padding: 1vh; 
overflow-y: auto;
overflow-x:hidden;
scrollbar-color: black;
flex-direction: column;
outline: 0.4vh solid teal;
} 

.leftParty {

/* Position */
position: absolute;
cursor: move;
top:90vh;  
left: 5vw; 
width: 55vw;
height: auto;
max-height: 89.5vh;
z-index:10;

/* Text */  
font-family: monospace;
color: whitesmoke;
font-size: 1.9vh;
line-height: 1.5; 
text-align: left;

/* Appearance */
background-color: black;
opacity: 0.85;
display: none;
padding: 1vh; 
overflow-y: auto;
overflow-x:hidden;
scrollbar-color: black;
flex-direction: column;
outline: 0.4vh solid teal;
} 


#Left::-webkit-scrollbar {
width: 5px; /* Set the width of the scrollbar */
}


/* #Left div:not(.no-hover):hover {
background-color: rgba(245, 245, 245, 0.214);
cursor: pointer;
} */

.Left hr {
border: none;
width: 30vw;
height: 0.05vh; /* Adjust the height of the line */
background-color: rgb(11, 201, 201); /* Color of the line */
box-shadow: 0 0 0 0.1vh rgb(11, 201, 201); /* Creates a solid outline effect */
margin-top: 1;
}


.Left h3 {
margin-top: 0;
margin-bottom: 0; /* Set margin-bottom to 0 or adjust as needed */
}

/* .Left div{
height:10vh
} */

.Left label{

/* Position */
margin: 0vh;

/* Text */
font-size: 2.2vh;
font-weight: bold;
text-align: left;
line-height: 1.5;

/* Appearance */
border: none;
padding: 0vh;
background-color: transparent;
resize: none;
border-radius: 0;
}

.leftText {

/* Position */
margin: 0vh;
width: 30vw;
height: auto;

/* Text */
font-size: 2.2vh;
font-family: monospace;
line-height: 1.5;
text-align: left;
font-weight: bold;

/* Appearance */
border: none;
background-color: transparent;
vertical-align: top;
resize: none;
border-radius: 0;
margin-bottom: 0;
margin-top: 0;
overflow-y: hidden;
}

.colorBox{
width: 2vw;
height: 3vh;
}

.leftTextshort {

/* Position */
margin: 0vh;
width: 15vw;
height: auto;

/* Text */
font-size: 2.2vh;
font-family: monospace;
line-height: 1.5;
text-align: left;
font-weight: bold;

/* Appearance */
border: none;
background-color: transparent;
vertical-align: top;
resize: none;
border-radius: 0;
margin-bottom: 0;
margin-top: 0;
overflow-y: hidden;
overflow-x: hidden;
}

.formImage{
position: absolute;
height: 9vh;
top: 0vh;
right: 2vw;
}


.leftText:focus,
.leftTextshort:focus{
/* Appearance */
background-color: transparent;
color: lime;
outline: none;
border-radius: 0;
}








