.locationGroup{
flex-direction: column;

}

.EditorContainer label {
position: relative;
left: 0.5vw;
margin-top: 0.5vh;
margin-bottom: 0.5vh;        
color: whitesmoke;   
}

.editBox {            
height: 85vh;
width: 27.5vw;
border: 0.2vh solid gray; 
margin: 1vh; 
font-size: 1.9vh;
text-align: left;
background-color: black; 
color: gray;
padding: 1vh;
}

.editBox:focus {
border-color: hotpink; /* Change the border color */
outline: none; /* Remove the default outline */
background-color: transparent; /* Change the background color */
color: hotpink; /* Change the text color */
border-radius: 0px; /* Adjust the border radius for rounded corners */
}