body {
background-color: black;
font-family: monospace;
margin: 0; /* Remove default margin */
}

body::-webkit-scrollbar {
width: 0; /* Set the width of the scrollbar */
}

.top-right {
position: absolute;
top: 0vh;
right: 0vw;
/*transform: translate(-50%, -50%);*/
text-align: right;

}

.top-right img {
width: 35vw; /* Reset width to auto to allow resizing */
display: none; /* Remove any default spacing */
margin: 0 auto; /* Horizontally center the image */
}

.center-screen {
position: absolute;
top: 50%;
left: 33vw;
transform: translate(-50%, -50%);
text-align: center;
}

.center-screen img {
width: 70vw; /* Reset width to auto to allow resizing */
display: block; /* Remove any default spacing */
margin: 0 auto; /* Horizontally center the image */
}

.floating-box {

/* Position */
position: fixed;
top:1vh;  
left: 0.2vw; 
width: 60vw;
height: auto;
max-height: 95vh;
z-index:100;

/* Text */  
font-family: monospace;
color: bisque;
font-size: 1.9vh;
line-height: 1.5; 
text-align: left;

/* Appearance */
background-color: black;
opacity: 1;
display: block;
padding: 1vh; 
overflow: auto;
scrollbar-color: transparent;
flex-direction: column;
outline: 0.4vh solid teal;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle lift effect */
}

.floating-box hr {
    border: none;
    width: auto;
    margin-bottom: 0;
    height: 0.05vh; /* Adjust the height of the line */
    background-color: teal; /* Color of the line */
    box-shadow: 0 0 0 0.1vh teal; /* Creates a solid outline effect */
    margin-top: 1;
    }

.floating-box h3,
.Centre h3 {
    margin-top: 0;
    margin-bottom: 0; /* Set margin-bottom to 0 or adjust as needed */
}




















