.mapContainer{
position: relative;
width: 64.7vw;
top: 0.6vh; 
left: 0vw;
height: 94vh; 
}

.image-container {
position: relative;
width: 64.7vw;
top: 0.1vh; 
left: 0vw;
height: 94vh; 
overflow: auto;    
scrollbar-color: transparent;
overflow: auto; 
border: 0.4vh solid teal;
}

.image-container::-webkit-scrollbar {
width: 0px; /* Set the width of the scrollbar */
}

.map-image {
position: relative;
z-index: 0;
}

#drawingCanvas {
border: 1px solid red; /* Optional */
pointer-events: auto;
/* position : absolute;
top:0;
left:0;
width: 100%;
height: 100%; */
}

.overlay-layer {
position: fixed;
top: 0.1vh;
left: 0;
width: 64.5vw;
height: 98vh;
pointer-events: none; /* Allow interactions with elements beneath the overlay */
}          

.preview {
position: absolute;
z-index: 100;
border: 0.2vw solid lime;
pointer-events: none; /* Prevent the preview div from blocking interactions */
opacity: 1; /* You can adjust the opacity as desired */
}

.selection {
position: absolute;
z-index: 1;                
height: 50px;
width: 50px;
background-color: orange;  
opacity: 0.4;  
/*transition: background-color 0s; 8*/              
}

.selection:hover {
opacity: 0.9;                
}  

.div-name-label{
position: absolute;
font-family: 'SoutaneBlack';
color: black;
font-weight: bolder;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
font-size: 2vh;                       
opacity: 1;                    
}