#npcForm {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0;
    background-color: transparent;
    text-align: left;
    vertical-align: top;
    overflow: auto;
}

#npcForm::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
}

.npcFormContainer{
    width: 30vw;
    height: 85vh;
};

#npcForm label{
    vertical-align: middle;
    color: bisque;}

#npcForm input[type="number"] {
    height: 4vh;
    width: 3vw;
    margin: 1vh;
    font-size: 3vh;
    color: hotpink;
    font-family: monospace, 'Trebuchet MS', sans-serif;
    border: 0.2vh solid cyan;
    padding: 0.8vh;
    background-color: transparent;
    text-align: center;
    vertical-align: top;
}

#npcForm input[type="number"]::-webkit-inner-spin-button,
#npcForm input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

    .largeField{
        height: 15vh;
        width: 28vw;
        margin: 1vh;
        font-size: 2vh;
        color: bisque;
        font-family: monospace, 'Trebuchet MS', sans-serif;
        border: 0.2vh solid cyan;
        padding: 0.8vh;
        background-color: black;

    }
    .smallField {
        height: 4vh;
        width: 28vw;
        margin: 1vh;
        font-size: 2vh;
        color: bisque;
        font-family: monospace, 'Trebuchet MS', sans-serif;
        border: 0.2vh solid cyan;
        padding: 0.8vh;
        background-color: black;
    }

    .halfField {
        height: 4vh;
        width: 14vw;
        margin: 1vh;
        font-size: 2vh;
        color: bisque;
        font-family: monospace, 'Trebuchet MS', sans-serif;
        border: 0.2vh solid cyan;
        padding: 0.8vh;
        background-color: black;
    }

.halfSelect{
height: 6vh;
width: 14.3vw;
margin: 1vh;
font-size: 2vh;
color: bisque;
font-family: monospace, 'Trebuchet MS', sans-serif;
border: 0.2vh solid cyan;
padding: 0.8vh;
background-color: black;
}

.smallSelect{
height: 6vh;
width: 29vw;
margin: 1vh;
font-size: 2vh;
color: bisque;
font-family: monospace, 'Trebuchet MS', sans-serif;
border: 0.2vh solid cyan;
padding: 0.8vh;
background-color: black;
}

.halfField:focus,
.smallField:focus,
.largeField:focus{
    border-color: hotpink;
    outline: none;
    background-color: transparent;
    color: bisque;
    border-radius: 0;
    text-align: left;
    vertical-align: middle;
}

#npcForm select:focus,
#npcForm number:focus,
#npcForm textarea:focus {
    vertical-align: middle;
    outline: none;
    border-color: hotpink;
    border-radius: 0;
}

 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: hotpink;
    opacity: 1; /* Firefox */
  }

  #NPCoptionsList {
    color: gray;
    background-color: transparent;
    opacity: 1;
    height: 100vh;
    border: transparent;
    padding: 5px;
    position: fixed; /* Use fixed position for screen coordinates */
    top: 0;
    left: 55vw;
    z-index: 10; /* Adjust z-index as needed */
    overflow-y: auto;
    display: none;
    scrollbar-color: black;
  }

  #NPCoptionsList div:hover {
    background-color: lime; /* Change the background color on hover */
    color: black;
    cursor: pointer; /* Show pointer cursor on hover */
  }  

  #NPCoptionsList::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
    }
  

.primary {
    color: lime;
}

.secondary {    
    color: orange;
}

.tertiary {   
    color: yellow;
}

.tertiary {   
    color: hotpink;
}





  
