#npcForm {
    width: 30vw;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0;
    background-color: transparent;
    text-align: left;
    vertical-align: top;
    overflow: auto;
}

#npcForm::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
}

#npcForm input[type="number"]:focus,
#npcForm input[type="text"]:focus,
#npcForm textarea:focus,
.smallText:focus {
    border-color: hotpink;
    outline: none;
    background-color: transparent;
    color: bisque;
    border-radius: 0;
    text-align: left;
    vertical-align: top;
}

#npcForm input[type="number"]::-webkit-inner-spin-button,
#npcForm input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#npcForm input[type="number"] {
    height: 3vh;
    width: 3vw;
    margin: 1vh;
    font-size: 2vh;
    color: bisque;
    font-family: monospace, 'Trebuchet MS', sans-serif;
    border: 0.2vh solid cyan;
    padding: 0.8vh;
    background-color: transparent;
    text-align: left;
    vertical-align: top;
}

.largeText{
    height: 30vh;
    width: 28vw;
    margin: 1vh;
    font-size: 2vh;
    color: bisque;
    font-family: monospace, 'Trebuchet MS', sans-serif;
    border: 0.2vh solid cyan;
    padding: 0.8vh;
    background-color: transparent;

}
.smallText {
    height: 3vh;
    width: 28vw;
    margin: 1vh;
    font-size: 2vh;
    color: bisque;
    font-family: monospace, 'Trebuchet MS', sans-serif;
    border: 0.2vh solid cyan;
    padding: 0.8vh;
    background-color: transparent;
}

#npcForm select {
    height: 5vh;
    width: 29vw;
    margin: 1vh;
    font-size: 2vh;
    color: bisque;
    font-family: monospace, 'Trebuchet MS', sans-serif;
    border: 0.2vh solid cyan;
    background-color: black;
}

#npcForm select:focus {
    outline: none;
    border-color: hotpink;
    border-radius: 0;
}

#createNPCButton {
    width: 13vw;
    height: 6vh;
    font-size: 2vh;
    padding: 1vh 1vw;
    margin: 0;
    border: 0.1vh solid black;
    transition: background-color 0.3s;
    font-family: monospace, 'Trebuchet MS', sans-serif;
}

#createNPCButton:hover {
    background-color: hotpink;
}
