/* Everything to do with the Right --> Editor */

.Right {

/* Position */
position: fixed;
top:1vh;  
right: 0.2vw; 
width: 33vw;
height: 96vh;
z-index:3;

/* Text */  
font-family: monospace;
color: whitesmoke;
font-size: 1.9vh;
line-height: 1.5; 
text-align: left;

/* Appearance */
background-color: black;
opacity: 1;
display: block;
padding: 1vh; 
overflow: auto;
scrollbar-color: transparent;
flex-direction: column;
outline: 0.4vh solid teal;

} 

.locationLabel{
/* Position */
position: absolute;
top: 0vh;
right: 0vw;
z-index: 10;

/* Text */
font-family: 'SoutaneBlack';
color: gold;  
font-size: 3.8vh;
font-weight: bold;
letter-spacing: 0.3vw;
/* text-decoration: underline; */
text-align: center;
margin-top: 0vh;
margin-bottom: 0.5vh; 
background-color: transparent; 
outline: 0.4vh solid teal;       
overflow:hidden;

/* Appearance */
height: 5vh;
width: 33vw;
padding: 1vh;    
}

.Editor {

/* Position */
position: fixed;
top:9vh;  
right: 0.2vw; 
width: 33vw;
height: 80vh;
z-index:5;

/* Text */  
font-family: monospace;
color: whitesmoke;
font-size: 1.9vh;
line-height: 1.5; 
text-align: left;

/* Appearance */
background-color: black;
opacity: 1;
display: none;
padding: 1vh; 
overflow: auto;
scrollbar-color: transparent;
flex-direction: column;


} 

.highlight{
background-color: rgba(245, 245, 245, 0.326);
}

.eventManager {

/* Position */
position: absolute;
height: 4vh;
bottom: 0vh;
width: 33.2vw;
right: 0vw;
margin: 0vh;
vertical-align: middle;

/* Text */
font-size: 2.2vh;
font-family: monospace;
color: cyan;
text-align: left;

/* Appearance */
background-color: rgba(0, 128, 128, 0.276);
border-color: transparent;
outline: 0.4vh solid teal;
border-radius: 0;
padding: 0.8vh;
}



.rightText {
/* Position */
width: 33vw;
margin: 0vh;
height: 80vh;
max-height: 80vh;

/* Text */
font-size: 2vh;
color: whitesmoke;
font-family: 'CenturyGothic', monospace;
line-height: 1.5;

/* Appearance */
border: none;
background-color: transparent;
vertical-align: middle;
resize: none;
border-radius: 0;
overflow-y: scroll;
}

.rightText:focus{
/* Appearance */
background-color: transparent;
border-color: hotpink;
color: lime;
outline: none;
border-radius: 0;
}
    
    

.Storyteller{
/* Position */
position: absolute;
top:9vh;  
right: 0.2vw;  
width: 33vw;
height: 80vh;
z-index:3;

/* Text */  
font-family: 'CenturyGothic', monospace;
color: whitesmoke;
font-size: 2vh;
line-height: 1.5; 
text-align: left;

/* Appearance */
background-color: black;
opacity: 1;
display: block;
padding: 1vh; 
overflow-y: auto;
overflow-x: hidden;
scrollbar-color: transparent;
flex-direction: column;
}

.Storyteller::-webkit-scrollbar {
width: 5px; /* Set the width of the scrollbar */
}

.Storyteller .section {
flex: 1;
}

#Storyteller hr{
position: absolute;
width: 100%;
height: 0.2vh;
margin-top: 0;
border: none;
background-color: whitesmoke;
}


.Storyteller:focus {
outline: none; /* Remove the default outline */
border-radius: 0px; /* Adjust the border radius for rounded corners */
}



