.sidebar {
position: fixed; 
top: 8vh; 
right: 0; 
height: 92vh; 
width: 30vw;;
z-index:4;
background-color: transparent;
overflow: auto; 

} 

.extraInfo {
position: fixed;  
right: 30.1vw; 
width: 20vw;
height: 97vh;
top:0;
z-index:5;
background-color: black;
opacity: 1;  
display: none; 
color: bisque;
font-family: monospace, 'Trebuchet MS', sans-serif;
font-size: 1.9vh; 
padding: 1vh; 
text-align: left;
overflow: auto;
scrollbar-color: black;
vertical-align: top; 
flex-direction: column;
resize: none;
text-align: left;
}  

#extraContent div:hover {
background-color: limegreen; /* Change the background color on hover */
color: whitesmoke;
cursor: pointer; /* Show pointer cursor on hover */
} 

.extraInfo::-webkit-scrollbar {
width: 0.1px; /* Set the width of the scrollbar */
}

.extraInfo2 {
position: fixed;  
right: 51.0vw; 
width: 20vw;
height: 97vh;
top:0;
z-index:5;
background-color: black;
opacity: 1;  
display: none; 
color: bisque;
font-family: monospace, 'Trebuchet MS', sans-serif;
font-size: 1.9vh; 
padding: 1vh; 
text-align: left;
overflow: auto;
scrollbar-color: black;
vertical-align: top; 
flex-direction: column;
resize: none;
text-align: left;
}  


.extraInfo2::-webkit-scrollbar {
width: 0.1px; /* Set the width of the scrollbar */
}

#itemList,
#itemList2 {
color: gray;
font-size: 1.5vh;
background-color: black;
opacity: 1;
height: 100vh;
border: transparent;
padding: 5px;
position: fixed; /* Use fixed position for screen coordinates */
top: 0;
left: 45vw;
width: 25vw;
z-index: 10;
overflow-y: auto;
display: none;
scrollbar-color: black;
}

#itemList div:hover,
#itemList2 div:hover {
background-color: gray; /* Change the background color on hover */
color: whitesmoke;
cursor: pointer; /* Show pointer cursor on hover */
}  

#itemList::-webkit-scrollbar,
#itemList2::-webkit-scrollbar {
width: 5px; /* Set the width of the scrollbar */
}

.spacer {
height: 20vh; /* Set the height you desire */
}

.showExtraInfo {
display: block;
}

.withbreak{
white-space: pre-line; 
}

.npc{
color: cyan;
}

.monster{
color: hotpink;
}

.spell{
color: orange;
}

.item{
color: yellowgreen;
}

.misc{
color:gold
}

.hotpink{
color:hotpink;
}

.lime{
color:yellowgreen;
}

.orange{
color:orange
}

.cyan{
color:cyan
}

.yellow{
color:rgb(246, 235, 10)
}

.gray{
    color:gray
}





