.sidebar {
position: fixed; 
top: 8vh; 
right: 0; 
height: 92vh; 
width: 30vw;;
z-index:4;
background-color: transparent;
overflow: auto; 
  
} 
    
.extraInfo {
position: fixed; 
top: 0vh; 
right: 30vw; 
height: 100vh; 
width: 20vw;;
z-index:5;
background-color: black;
opacity: 1;  
display: none; 
color: bisque;
font-family: monospace, 'Trebuchet MS', sans-serif;
font-size: 1.9vh; 

padding: 1vh; 
text-align: left;
overflow: auto;
scrollbar-color: black;
vertical-align: top; 
flex-direction: column;
resize: none;
white-space: pre-line; 
text-align: left;
}  

.extraInfo::-webkit-scrollbar {
  width: 0.1px; /* Set the width of the scrollbar */
  }

.showExtraInfo {
    display: block;
  }

.npc{
    color: cyan;
}

.monster{
  color: hotpink;
}

.misc{
  color:gold
}

.hotpink{
  color:hotpink
}

.lime{
  color:lime
}

.orange{
  color:orange
}

.cyan{
  color:cyan
}





        
       