.locationLabel{
position: relative;
top: 4vh;
right: 0vw;
left: 0.5vw;

color: bisque;   
font-size: 3vh;
font-weight: bold;

margin-top: 0.5vh;
margin-bottom: 0.5vh; 
background-color: transparent;        

height: 10vh;
width: 25vw;
padding: 1vh;    
}

.Storyteller{
position: fixed;
top: 20vh;    
right: 0.35vw; 
width: 28.5vw;   
height: 78vh;  
color: white;
font-size: 1.9vh; 
background-color: transparent; 
text-align: left;
overflow: auto;
scrollbar-color: black;
vertical-align: top; 
display: flex;
flex-direction: column;
resize: none;
text-align: left;
}

.Storyteller::-webkit-scrollbar {
width: 5px; /* Set the width of the scrollbar */
}

.Storyteller .section {
flex: 1;
}


.Storyteller:focus {
outline: none; /* Remove the default outline */
border-radius: 0px; /* Adjust the border radius for rounded corners */
}