body {

background-color: black;
font-family: monospace, 'Trebuchet MS', sans-serif;
overflow: hidden;
margin: 0; /* Remove default margin */

}

.editToolbar{
    position: fixed;
    top: 0vh; 
    right: 0vw; 
    z-index: 5;
    width: 30vw;
    display: none; 
    flex-direction: row; 
}

.mainToolbar {
position: fixed;
top: 0vh; 
right: 0vw; 
z-index: 5;
width: 30vw;
display: flex; 
flex-direction: row; 
}

    .button {
    width: 100%; /* Make each button fill the width of the toolbar */
    height: 6vh; 
    font-size: 2vh; 
    padding: 1vh 1vw; 
    margin: 0.5vh 0; /* Add margin to control spacing */
    border: 0.1vh solid black; 
    font-family: monospace, 'Trebuchet MS', sans-serif;
    transition: background-color 0.3s; 
    }

        .button:hover {
        background-color: hotpink; /* Change the background color when hovering */
        }                       

        .click-button {
        background-color: lime;
        }

.sidebar {
position: fixed; 
top: 8vh; 
right: 0; 
height: 92vh; 
width: 30vw;;
z-index:4;
background-color: transparent;
overflow: auto;    
}

.locationLabel{
    position: absolute;
    width: 25vw;
    padding: 1vh;
    height: 10vh;
    background-color: transparent; /* Set your desired background color */
    font-size: 4vh;
    top: 0vh;
    right: 0vw;
    }
 
.Storyteller{
    position: fixed;
    top: 20vh;    
    right: 0.35vw; 
    width: 28.5vw;   
    height: 78vh;  
    font-size: 1.9vh; 
    background-color: transparent; 
    color: white;
    border: 0.1vh transparent;
    padding: 1vh; 
    text-align: left;
    overflow: auto;
    scrollbar-color: black;
    vertical-align: top; 
    display: flex;
    flex-direction: column;
    resize: none;
    white-space: pre-line; 
    text-align: justify;
    
            
    }
    
    .Storyteller::-webkit-scrollbar {
        width: 5px; /* Set the width of the scrollbar */
      }
    
      .Storyteller .section {
        flex: 1;
      }
    
                .player{
                    color: white;
                    }
    
                .gm{
                    color: orange;    
                    }
    
                .misc{
                    color: lime;
                     }    
                     
                .all-caps{
                    color: cyan;
                }
                
                .inside-rounded-brackets{
                    color: lime;
                }

                .inside-square-brackets {
                    color: hotpink; 
                  }

                .inside-quotation-marks {
                color: orange; /* Change this to the desired color */
                /* Add other styling properties as needed */
                }

                .storyTable input {
                    height: 3vh;
                    width: 100%;
                    border: 0.1px solid whitesmoke;
                    background-color: transparent;
                    color:whitesmoke;
                    font-size: 2vh;             
                    padding: 0;
                    margin: 0;
                    opacity: 1;
                    font-family: monospace, 'Trebuchet MS', sans-serif;
                    text-align: left;
                    }
                                                         
                        .storyTable tr:nth-child(even) {
                        background-color: black;
                        }
                
                        .storyTable tr:hover {
                        background-color: cyan;
                        color: blue;
                        opacity: 1;
                        }

                                /* Apply the 'resizable' class to the table */
                                .resizable {
                                table-layout: fixed; /* Set table layout to fixed for resizable columns */
                                width: 100%; /* Ensure the table takes up the available space */
                                }

                                /* Style for the column resizer handle */
                                .resizable th {
                                position: relative;
                                }

                                .resizable th::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: -5px; /* Adjust this value for the handle's position */
                                width: 10px; /* Adjust the handle's width */
                                height: 100%;
                                cursor: col-resize;
                                background: transparent;
                                }

                                /* Apply the resizable class to the input elements in the first row (header) */
                                .resizable th input {
                                width: 100%; /* Allow input elements to adjust based on header's width */
                                }
                
    
        .Storyteller:focus {
        outline: none; /* Remove the default outline */
        border-radius: 0px; /* Adjust the border radius for rounded corners */
        }
    
    .EditorContainer {
        position: fixed;
        top: 7vh;    
        right: 0vw; 
        width: 30vw;   
        height: 160vh;     
        font-size: 2vh;
        display: none;
        flex-direction: column;
    }    

    .editLocationName{
        height: 4vh;
        width: 27.5vw;
        margin: 0vh; 
        font-size: 3vh;
        font-weight: bold;
        border: 0.4vh solid black; 
        text-align: left;
        vertical-align: middle;    
        background-color: transparent; 
        color: hotpink;
        padding: 1vh;
        display: none;
        flex-direction: row;
    }

        .editLocationName:focus {
            border-color: lime; /* Change the border color */
            outline: none; /* Remove the default outline */
            background-color: black; /* Change the background color */
            color: lime; /* Change the text color */
            border-radius: 0px; /* Adjust the border radius for rounded corners */
        }

    label {
        position: relative;
        left: 0.5vw;
        font-weight: bold;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;        
        color: white;   
    }
    
    .editBox {            
        height: 65vh;
        margin: 1vh; 
        font-size: 2vh;
        border: 0.4vh solid hotpink; 
        text-align: left;
        vertical-align: top;    
        background-color: transparent; 
        color: orange;
        padding: 1vh;

    }

        .editBox:focus {
            border-color: lime; /* Change the border color */
            outline: none; /* Remove the default outline */
            background-color: transparent; /* Change the background color */
            color: lime; /* Change the text color */
            border-radius: 0px; /* Adjust the border radius for rounded corners */
        }
    

/* Target the entire form */
#tableForm {
    display: flex;
    flex-direction: column; /* Arrange elements in a column */
    align-items: flex-start; /* Align elements to the start of the column */
    gap: 0px; /* Add spacing between elements */
  }

    .topTable {
    display: flex;
    flex-direction: row; /* Arrange elements in a column */
    align-items: flex-start; /* Align elements to the start of the column */
    gap: 5px; /* Add spacing between elements */
    margin: 2vh 0vw;
    }


    /* Target the labels within the form */
    #tableForm label {
    left: 0vw;
    color: hotpink;
    }

    /* Target the input elements within the form */
    .topTable input {
    height: 6vh;
    width: 6vh;
    font-size: 5vh;
    text-align: center;
    background-color: black;
    border-color: hotpink;
    color: cyan;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Target the button within the form */
    #tableForm button {
    width: 13vw; /* Make each button fill the width of the toolbar */
    height: 6vh; 
    font-size: 2vh; 
    padding: 1vh 1vw; 
    margin: 0vh 0vw; /* Add margin to control spacing */
    border: 0.1vh solid black; 
    transition: background-color 0.3s; 
    font-family: monospace, 'Trebuchet MS', sans-serif;
    }

    #tableForm button:hover {
    background-color: hotpink; 
    }

.bottomTable{
    border-collapse: collapse;
    width: 30vw;
    height: 75vh;
    font-size: 2vh; 
    overflow-y: scroll;
    scrollbar-color: black;
}

.bottomTable::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
    }

 /* Target the input elements within the form */
 .bottomTable input {
    height: 3vh;
    width: 6vh;
    font-size: 2vh;
    text-align: center;
    background-color: transparent;
    color: whitesmoke;    
    font-family: monospace, 'Trebuchet MS', sans-serif;
    }
 
        .spreadsheet td {
        border: 0.1px solid whitesmoke;
        color:whitesmoke;
        width: 28vw;
        font-weight: bold;
        padding: 0;
        margin: 0;
        text-align: center;
        }

        .spreadsheet tr:nth-child(even) {
        background-color: black;
        }

        .spreadsheet tr:hover {
        background-color: lime;
        color: whitesmoke;
        }

        /* Add styling to input fields for editing */
        .spreadsheet td input {
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
        box-sizing: border-box;
        }

        /* Add styling for the editing state */
        .spreadsheet td.editing {
        background-color: lime;
        }

        .bottomToolbar{ 
            position: fixed;
            bottom: 1vh;
            right: 1vw;
            width: 28vw;
            display: none; 
            flex-direction: row; 
        }


.image-container {
position: relative;
width: 70vw; 
height: 100vh; 
overflow: auto;    
scrollbar-color: black;
overflow: auto; 
}
    .map-image {
    position: relative;
    
    z-index: 0;
    }
        .image-container::-webkit-scrollbar {
        width: 5px; /* Set the width of the scrollbar */
        }

        .preview {
        position: absolute;
        z-index: 2;
        border: 6px solid lime;
        pointer-events: none; /* Prevent the preview div from blocking interactions */
        opacity: 1; /* You can adjust the opacity as desired */
        }
            .selection {
            position: absolute;
            z-index: 1;                
            height: 50px;
            width: 50px;
            background-color: orange;  
            opacity: 0.5;  
            /*transition: background-color 0s; 8*/              
            }
                .selection:hover {
                background-color: lime;  
                opacity: 0.9;                
                }      
                    .div-id-label{
                    position: absolute;
                    color: black;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 2vh;                       
                    opacity: 1;                    
                    }









