body {
background-color: black;
font-family: Helvetica, Arial, sans-serif;
color: lime;
overflow: hidden;
margin: 0; /* Remove default margin */
}

.image-container {
position: relative;
width: 100%; /* Adjust as needed */
height: 100vh; /* Adjust as needed */
overflow: auto; /* Enable scrollbars when needed */
}

    .map-image {
    position: relative;
    overflow: auto;
    z-index: 0;
    }
        .preview {
        position: absolute;
        z-index: 2;
        border: 6px solid lime;
        pointer-events: none; /* Prevent the preview div from blocking interactions */
        opacity: 1; /* You can adjust the opacity as desired */
        }
            .selection {
                position: absolute;
                z-index: 1;                
                height: 50px;
                width: 50px;
                background-color: white;  
                opacity: 0.6;                
                }
                    .div-id-label{
                    position: absolute;
                    color: black;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 1.5vh;
                    font-weight: bold;                        
                    }

.toolbar {
    position: fixed;
    top: 1%; /* Adjust the top value */
    right: 1%; /* Adjust the right value */
    margin: 1%;
    z-index: 5;
    }
    
        .button {
        width: 5vw; /* Set the width using a percentage of viewport width */
        height: 5vh; /* Set the height using a percentage of viewport height */
        font-size: 2vh; /* Set the font size using a percentage of viewport height */
        padding: 1vh 1vw; /* Set the padding using a percentage of viewport width and height */
        border: 1px solid black; /* Set the border */
        }
                        

            .click-button {
            border: 5px solid lime;}










