/* PLAYER TABLE */

.name-column:hover {
    background-color: rgba(245, 245, 245, 0.167);
    cursor: pointer;
    }

.member-table {
    display: table;
    width: 100%;
    table-layout: fixed; /* Ensures consistent column widths */
}

.member-row {
    display: table-row;
}

.header-row {
    display: table-row;
}

.member-cell {
    display: table-cell;
    font-family: 'SoutaneBlack';
    font-size: 2.2vh;
    color: white;
    border: 0vh solid transparent; /* Add border for visualization */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
}

/* Set individual column widths */
.name-column { width: 30%; }
.class-column { width: 20%; }
.init-column { width:calc(50% / 6); }


/* NPC SCORES */

.score-column:hover {
    background-color: rgba(245, 245, 245, 0.167);
    cursor: pointer;
    }

.scores-table {
    display: table;
    width: 28vw;
    table-layout: fixed; /* Ensures consistent column widths */
}

.score-row {
    display: table-row;
}

.score-cell {
    display: table-cell;
    font-family: 'SoutaneBlack';
    font-size: 2.2vh;
    height: 2.3vh;
    color: white;
    border: 0vh solid transparent; /* Add border for visualization */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
}

/* Set individual column widths */
.scoreName-column { width: 17vw; }
.score-column { width: 3vw; }
.modifier-column { width: 5vw; }

/* NPC Fields */

.field-column:hover {
    background-color: rgba(245, 245, 245, 0.167);
    cursor: pointer;
    }

.field-table {
    display: table;
    width: 30vw;
    table-layout: fixed; /* Ensures consistent column widths */
}

.field-row {
    display: table-row;
}

.field-cell {
    display: table-cell;
    font-family: 'SoutaneBlack';
    font-size: 2.2vh;
    height: 2.3vh;
    width: 15vw;
    color: white;
    border: 0vh solid transparent; /* Add border for visualization */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
    vertical-align: middle;
}


/* Set individual column widths */
.fieldName-column { width: 12vw; }
.fielValue-column { width: 10vw; }

/* Item Fields */

.item-column:hover,
.item-bonus-column:hover,
.item-quant-column:hover,
.item-dropdown-column:hover {
background-color: rgba(245, 245, 245, 0.167);
cursor: pointer;
}

.item-column:focus,
.item-bonus-column:focus,
.item-quant-column:focus,
.item-dropdown-column:focus {
color: lime;
}

.item-table {
    display: table;
    width: 30vw;
    table-layout: fixed; /* Ensures consistent column widths */
    
}

.item-row {
    display: table;
    width: 100%; /* Ensure the row takes up the full width */
    table-layout: fixed; /* Ensure consistent cell widths */
}

.item-name-cell {
    display: table-cell;
    font-family: 'SoutaneBlack';
    font-size: 2.2vh;
    height: 2.3vh;
    width: 15vw;
    color: white;
    border: 0vh solid transparent; /* Add border for visualization */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
    vertical-align: middle;
}

.item-dropdown-cell {
    display: table-cell;
    font-family: 'SoutaneBlack';
    font-size: 2.2vh;
    height: 2.3vh;
    color: white;
    background-color: black;
    border: 0vh solid transparent; /* Add border for visualization */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
    vertical-align: middle;
}

.item-quant-cell {
    display: table-cell;
    font-family: 'SoutaneBlack';
    font-size: 2.2vh;
    height: 2.3vh;
    width: 3vw;
    color: white;
    background-color: transparent;
    border: 0vh solid transparent; /* Add border for visualization */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
    text-align: center;
    vertical-align: middle;
}


/* Set individual column widths */
.item-column { width: 16vw;}
.item-dropdown-column { width: 12vw;}
.item-bonus-column { width: 4vw;}
.item-quant-column { width: 4vw;}

/* STORYTELLER ITEMS */

.story-item-table {
    display: table;
    width: 30vw;
    table-layout: fixed; /* Ensures consistent column widths */
}

.story-item-row {
    display: table-row;
    table-layout: fixed; /* Ensure consistent cell widths */
}

.story-name-cell {
    display: table-cell;
    font-family: 'SoutaneBlack';
    font-size: 2.2vh;
    height: 2.3vh;
    width: 15vw;
    color: white;
    border: 0vh solid transparent; /* Add border for visualization */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
    vertical-align: middle;
}


.story-data-cell {
    display: table-cell;
    font-size: 2vh;
    height: 2.3vh;
    width: 18vw;
    color: white;
    background-color: transparent;
    border: 0vh solid transparent; /* Add border for visualization */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
    text-align: left;
    vertical-align: middle;
}


/* Set individual column widths */
.story-name-column { width: 20vw;}
.story-data-column { width: auto;}

