/* PLAYER TABLE */

.name-column:hover {
    background-color: rgba(245, 245, 245, 0.167);
    cursor: pointer;
    }

.member-table {
    display: table;
    width: 100%;
    table-layout: fixed; /* Ensures consistent column widths */
}

.member-row {
    display: table-row;
}

.member-cell {
    display: table-cell;
    font-family: 'SoutaneBlack';
    font-size: 2.2vh;
    color: white;
    border: 1px solid transparent; /* Add border for visualization */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
}

/* Set individual column widths */
.name-column { width: 50%; }
.class-column { width: 40%; }
.init-column { width: 10%; }


/* NPC SCORES */

.score-column:hover {
    background-color: rgba(245, 245, 245, 0.167);
    cursor: pointer;
    }

.scores-table {
    display: table;
    width: 28vw;
    table-layout: fixed; /* Ensures consistent column widths */
}

.score-row {
    display: table-row;
}

.score-cell {
    display: table-cell;
    font-family: 'SoutaneBlack';
    font-size: 2.2vh;
    color: white;
    border: 1px solid transparent; /* Add border for visualization */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
}

/* Set individual column widths */
.scoreName-column { width: 17vw; }
.score-column { width: 3vw; }
.modifier-column { width: 5vw; }

/* NPC Fields */

.field-column:hover {
    background-color: rgba(245, 245, 245, 0.167);
    cursor: pointer;
    }

.field-table {
    display: table;
    width: 30vw;
    table-layout: fixed; /* Ensures consistent column widths */
}

.field-row {
    display: table-row;
}

.field-cell {
    display: table-cell;
    font-family: 'SoutaneBlack';
    font-size: 2.2vh;
    color: white;
    border: 1px solid transparent; /* Add border for visualization */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
    vertical-align: middle;
}

/* Set individual column widths */
.fieldName-column { width: 17vw; }
.fielValue-column { width: 10vw; }