/* Everything to do with text classes. */

@font-face {
    font-family: "CenturyGothic";
    src: url("fonts/CenturyGothic.ttf");
}

@font-face {
    font-family: "SoutaneBlack";
    src: url("fonts/SoutaneBlack.ttf");
}

::placeholder {
    color: cyan; /* Change to whatever color you want */
}

h2 {
    font-family: 'SoutaneBlack';
    margin-bottom: 0;
    margin-top: 0;
    }    

h3 {
    font-family: 'SoutaneBlack';
    margin-bottom: 0; /* Set margin-bottom to 0 or adjust as needed */
    }
    
    .spacer {
    height: 20vh; /* Set the height you desire */
    }
    
    .withbreak{
    white-space: pre-line; 
    }
    
    .npc{
    color: cyan
    }
    
    .monster{
    color: hotpink;
    }
    
    .spell{
    color: orange;
    }
    
    .item{
    color: yellowgreen;
    }
    
    .misc{
    color:gold
    }
    
    .hotpink{
    color:hotpink;
    }
    
    .fadepink{
    color:rgba(255, 105, 180, 0.722);
    }
    
    .purple{
    color:rgb(176, 17, 174);
    }
    
    .lime{
    color:yellowgreen;
    }
    
    .orange{
    color:orange
    }
    
    .cyan{
    color:cyan
    }
    
    .yellow{
    color:rgb(246, 235, 10)
    }
    
    .gray{
    color:gray
    }
    
    .lightgray{
    color:#ccc 
    }
    
    .darkgray{
    color:#636363e0 
    }
    
    .white{
    color: whitesmoke
    }
    
    .red{
    color: rgb(212, 21, 21)
    }
    
    .beige{
    color: beige
    }
    
    .all{
    color: cyan;
    }
    
    .teal{
    color: rgb(3, 195, 195);
    }
    
    .underline{
    text-decoration: underline;
    }