
.mainToolbar{
position: absolute;
bottom: 1vh; 
left: 0.2vw; 
height: 6vh;
width: 64.7vw;
z-index: 5;
display: flex; 
flex-direction: row; 
outline: 0.4vh solid teal;

}

.button {
width: 100%; /* Make each button fill the width of the toolbar */
height: 6vh; 
font-size: 2.2vh; 
padding: 1vh 1vw; 
margin: 0.0vh 0; /* Add margin to control spacing */
border: 0.1vh solid teal; 
font-family: 'SoutaneBlack';
color: cyan;
background-color: rgb(1, 51, 51);;
transition: background-color 0.3s; 
}

.partyButton{
width: auto; /* Make each button fill the width of the toolbar */
height: 6vh; 
font-size: 2.2vh; 
padding: 1vh 1vw; 
margin: 0.0vh 0; /* Add margin to control spacing */
border: 0.1vh solid teal; 
font-family: 'SoutaneBlack';
color: cyan;
background-color: rgb(1, 51, 51);;
transition: background-color 0.3s; 
}

.partyNumber{
width: 7vw; /* Make each button fill the width of the toolbar */
height: 6vh; 
font-size: 2.2vh; 
padding: 1vh 1vw; 
margin: 0.0vh 0; /* Add margin to control spacing */
border: 0.1vh solid teal; 
font-family: 'SoutaneBlack';
color: cyan;
background-color: rgb(1, 51, 51);;
transition: background-color 0.3s; 
}

.partyText{
width: 16vw; /* Make each button fill the width of the toolbar */
height: 6vh; 
font-size: 2.2vh; 
padding: 1vh 1vw; 
margin: 0.0vh 0; /* Add margin to control spacing */
border: 0.1vh solid teal; 
font-family: 'SoutaneBlack';
color: cyan;
background-color: rgb(1, 51, 51);;
transition: background-color 0.3s; 
}

.singButton {
position: absolute;
bottom: 0.2vh;
right: 0.2vw;
z-index: 1000;
width: auto; /* Make each button fill the width of the toolbar */
height: 6vh; 
font-size: 2.2vh; 
padding: 1vh 1vw; 
margin: 0.0vh 0; /* Add margin to control spacing */
border: 0.1vh solid teal; 
font-family: 'SoutaneBlack';
color: cyan;
background-color: rgba(0, 128, 128, 0.252);;
transition: background-color 0.3s; 
}

.speakButton {
position: absolute;
bottom: 2.2vh;
left: 1.2vw;
z-index: 1000;
width: auto; /* Make each button fill the width of the toolbar */
height: 6vh; 
font-size: 2.2vh; 
padding: 1vh 1vw; 
margin: 0.0vh 0; /* Add margin to control spacing */
border: 0.1vh solid teal; 
font-family: 'SoutaneBlack';
color: cyan;
background-color: rgba(0, 128, 128, 0.663);;
transition: background-color 0.3s; 
}

.button:hover,
.singButton:hover,
.speakButton:hover,
.partyButton:hover {
background-color: cyan; /* Change the background color when hovering */
color: teal;
}                       

.click-button {
background-color: cyan;
color: teal;
}

.bottomToolbar{ 
position: fixed;
bottom: 1vh;
left: 1vw;
width: 28vw;
display: none; 
flex-direction: row; 
}








