
.mainToolbar,
.editToolbar{
position: absolute;
top: 0vh; 
right: 0vw; 
height: 6vh;
width: 34.3vw;
z-index: 5;

display: flex; 
flex-direction: row; 
 
}

.centreToolbar{
position: fixed;
bottom: 1.5vh; 
right: 35.5vw; 
z-index: 100;
width: 31vw;
display: none; 
flex-direction: row;     
}


.button {
width: 100%; /* Make each button fill the width of the toolbar */
height: 6vh; 
font-size: 2.2vh; 
padding: 1vh 1vw; 
margin: 0.0vh 0; /* Add margin to control spacing */
border: 0.1vh solid teal; 
font-family: 'SoutaneBlack';
color: cyan;
background-color: rgba(0, 128, 128, 0.663);;
transition: background-color 0.3s; 
}

.button:hover {
background-color: cyan; /* Change the background color when hovering */
color: teal;
}                       

.click-button {
background-color: cyan;
color: teal;
}

.bottomToolbar{ 
position: fixed;
bottom: 1vh;
left: 1vw;
width: 28vw;
display: none; 
flex-direction: row; 
}








